<div>
  <h1>Offers</h1>
  <div class="row">
    <div class="span8">
      <form class="form-horizontal" action="/offers/results" method="post">
        <fieldset>
          <legend>Fill the form below to get the latest offers</legend>
          <div class="control-group">
            <label class="control-label" for="input01">uid</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="uid" name="uid">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">pub0</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="pub0" name="pub0">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">page</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="page" name="page">
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Display Offers</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>